@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Satoshi", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Fonts  */
@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Black.ttf");
  font-weight: 800;
}